#wechat_menu{
	background-color: #ebf0f0;
    position: fixed;
    top: 50px;
    z-index: 1000;
    width: 100%;
}
.menu-ul{
    list-style-type: none;
    font-size: 13px;
    padding: 0;
    margin: 0;
}
.menu-ul>li{
    float: left;
    /* width: 140px; */
    height: 30px;
    white-space: nowrap;
    line-height: 30px;
    padding: 0 20px;
    
}
.clearfix:after {
    content: '';
    display: block;
    line-height: 0;
    clear: both;
}
.menu-ul>li>a{
	text-decoration: none;
	color: #03B7AC;
}
.menu-ul>li>a:hover {
    text-decoration: none;
}
.menu-ul>li.on, .menu-ul>li:hover{
	background: #848484;
}
.menu-ul>li.on>a, .menu-ul>li:hover>a{
	color: #fff;
	
}
#background {
    padding: 64px 15px 5px 15px;
}